footer{
    background-color: #bb986d;
    margin-top: 50px;
    font-family: Jacques Francois;
}

body.dark-mode footer{
    background-color: #a08059;
}

.f-haut{
    display: flex;
    height: auto;
    gap:50px;
    max-width: 950px;
    padding-top: 50px;
    padding-bottom: 25px;
    margin-inline: auto;
    color: rgb(0, 0, 0);
}
body.dark-mode .f-haut{
    background-color: #a08059;
}
.f-haut img{
    width: 150px;
    height: auto;
}
.f-logo{
    align-self: center;
}
.f-haut-navigation{
    display: flex;
    gap: 20px;
}
.f-haut-nav{
    padding-right: 20px;
    border-right: 2px solid #000000;
}
.f-haut-nav a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
.f-haut-nav a:hover{
    color: #be1622;
}
.lien{
    display: flex;
    gap: 10px;
}

.lien img{
    width: 20px;
    height: auto;
    padding-top: 8px;
}
.f-bas{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #a08059;
    color: rgb(0, 0, 0);
}
body.dark-mode .f-bas{
    background-color: #735c40;
}
.f-bas a{
    color: #be1622;
}
body.dark-mode .f-bas a{
    color: #ffffff;
}
.f-bas a:hover{
    color: #a94545;
}
body.dark-mode .f-bas a:hover{
    color: #b90000;
}

@media (max-width: 788px) {

    .f-haut{
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        justify-self: self-start;
    }
    .f-bas{
        flex-direction: column;
        padding: 15px;
        height: auto;
    }
    f
    .f-logo{
        align-self: flex-start;
    }
    .f-haut-navigation{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

