header{
    font-family: Jacques Francois;
}
.body-others{
    padding-top: 130px;
}
.body-index{
    padding-top: 0px;
}
.tel{
    display: none;
}
.desktop{
    display: block;
}

.banniere-pc{
    display: block;
    background: url('../images/banniere3.png') no-repeat;
    background-size: cover;
    height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
} 
.banniere-pc-index{
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
}

.banniere-tel{
    display: none;
}
.banniere-tel-index{
    display: none;
}
.burger-icon span {
    display: none;
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
}
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #8ba1dd;
    padding-top: 60px;
    transition: left 0.5s ease;
}

  /* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #02005f;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  /* Active class */
.sidenav.active {
    left: 0;
}

  /* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
.menu li{
    position: relative;
}
.menu a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 55px 20px;
} 
.menu a:hover{
    color: #bb986d;
}
nav ul{
    display: flex;    
    gap: 50px;
    list-style: none;
}
.sous-menu{
    display: none;
    position: absolute;
    left: 0;
    top:100%;
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 150px;
    background: rgb(0, 0, 0, 0.6);
}
body.dark-mode .sous-menu{
    background: rgb(255, 255, 255, 0.4);
}
.sous-menu li {
    border-bottom: 1px solid #ffffff;
}
body.dark-mode .sous-menu li{
    border-bottom: 1px solid #000000;
}
.sous-menu a {
    padding: 10px 15px;
}
body.dark-mode .sous-menu a{
    color: black;
}
.sous-menu ul{
    display: none;
}
.sous-menu a:hover {
    background: rgb(0, 0, 0, 0.6);
    color: white;
}
body.dark-mode .sous-menu a{
    color: black;
}

.menu li:hover .sous-menu {
    display: block;
}
.container-header{
    z-index: 100;
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(0, 0, 0, 0.6);
    height: 130px;
    width: 100%;
}
.container-header-tel{
    display: none;
}
.left{
    display: flex;
    gap: 30px;
    align-items: baseline;
}

.logo-crista img{
    width: 125px;
    height: auto;
}
.ban{
    position: absolute;
    top: 200px;
    height: 607px;
    width: 100%;
    align-items:center;
}
.ban img{
    height: 200px;
    width: auto;
    border-radius: 100%;
}

.middle-ban{
    display: flex;
    gap: 30px;
    justify-self: center;
    align-items: center;
    padding: 10px;
    text-shadow:  0 0 1em black, 0 0 0.2em black;
}
.middle-ban h1{
    font-weight: 700;
    color: white;
    font-size: 52px;
    
}
.middle-ban p{
    font-weight: 500;
    color: white;
    font-size: 36px;
    justify-self: center;
}
.ban-right{
    align-items: flex-end;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

button img {
    width: 30px;
    height: auto;
}

@media (max-width: 788px) {
    .tel{
        display: block;
    }
    .desktop{
        display:none;
    }
    .banniere-pc{
        display: none;
    }
    .banniere-pc-index{
        display: none;
    }
    .banniere-tel{
        display: block;
        width: 100%;
        position: fixed;
        background: url('../images/banniere-big.png') no-repeat;
        background-size: cover;
        height: 85px;
        top: 0;
        left: 0;
        height: 85px;
        z-index: 1;
    }
    .banniere-tel-index{
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .container-header{
        display: none;
    }
    .container-header-tel{
        z-index: 100;
        display: block;
        position: fixed;
        width: 100%;
        top: 0%;
        left: 0%;
        display: flex;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 0px;
        background: rgb(0, 0, 0, 0.6);
        height: 85px;

    }
    .body-others{
        padding-top: 85px;
    }
    .body-index{
        padding-top: 0px;
    }
    .logo-crista img{
        width: 75px;
    }
    
    .burger-icon span {
        display: block;
        position: relative;
        width: 33px;
        height: 5px;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
    }
    .ban{
        display: none;
    }
    .container-header-tel button{
        justify-self: right;
    }
    button {
        justify-items: flex-end;
    }
}