header{
    font-family: Jacques Francois;
}

.tel{
    display: none;
}
.banniere-pc{
    height: auto;
    width: 100%;
    top: 0px;
    left: 0px;
    position: relative;
    display: block;
}
.banniere-tel{
    height: auto;
    width: 100%;
    top: 0px;
    left: 0px;
    position: relative;
    display: none;
}


.burger-icon span {
    display: none;
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
}
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: #8ba1dd;
    padding-top: 60px;
    transition: right 0.5s ease;
}

  /* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #02005f;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  /* Active class */
.sidenav.active {
    right: 0;
}

  /* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
.menu li{
    position: relative;
}
.menu a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 55px 20px;
} 
.menu a:hover{
    color: #bb986d;
}
nav ul{
    display: flex;    
    gap: 50px;
    list-style: none;
}
.sous-menu{
    display: none;
    position: absolute;
    left: 0;
    top:100%;
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 150px;
    background: rgb(0, 0, 0, 0.6);
    
}

.sous-menu li {
    border-bottom: 1px solid #ffffff;
}
.sous-menu a {
    padding: 10px 15px;
    
}
.sous-menu ul{
    display: none;
}
.sous-menu a:hover {
    background: rgb(0, 0, 0, 0.6);
    color: white;
}

.menu li:hover .sous-menu {
    display: block;
}
.container-header{
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgb(0, 0, 0, 0.6);
    height: 130px;
    width: 100%;
}
.left{
    display: flex;
    padding-left: 40px;
}
.logo-crista{
    left: 40px;
}
.logo-crista img{
    width: 125px;
    height: auto;
}
.ban{
    position: absolute;
    height: 607px;
    align-content:center;
}

.middle-ban{
    justify-self: center;
    align-self: center;
    padding: 10px;
    text-shadow:  0 0 1em black, 0 0 0.2em black;
}
.middle-ban h1{
    font-weight: 700;
    color: white;
    font-size: 52px;
    
}
.middle-ban p{
    font-weight: 500;
    color: white;
    font-size: 36px;
    justify-self: center;
}

@media (max-width: 788px) {
    .banniere-pc{
        display: none;
    }
    .banniere-tel{
        display: block;
    }
    .tel{
        display: block;
        position: absolute;
    }
    .desktop{
        display:none;
    }
    .container-header{
        height: 85px;
        justify-content: flex-start;
        /* padding:0px 40px ; */
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
        gap: 20px;
    }
    .logo-crista img{
        width: 75px;
    }
    .ban{display: none;}
    
    .burger-icon span {
        display: block;
        position: relative;
        width: 35px;
        height: 5px;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
    }
}
