*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding:0%;
    background-color: #ffffff;
}
body.dark-mode{
    background-color:#030303;
    color:#f5f7fa;
}

main{
    height: auto;
    max-width: 980px;
    margin-inline: auto;
    font-family: Roboto Mono;
    color: rgb(0, 0, 0);
    padding-top: 60px;
}
body.dark-mode main{
    color:#f5f7fa;
}
/* --------------------------------------------
            CV
----------------------------------------------*/   
.bouton-telecharger{
    padding: 60px 0px;
}
.bouton-telecharger a{
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(0, 0, 0);
    padding:12px 24px ;
    background-color: #be1622;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    align-self: center;
    width: 100px;
    height: auto;
    font-family: Jacques Francois;
}
.qrcode{
    padding-top: 20px;
    display: flex;
    gap: 20px;
    align-self: center;
}
.qrcode img{
    width: 200px;
    height: auto;
}
.espace-qr p{
    justify-self: center;
}

.date h6{
    text-align: right;
    font-family: Jacques Francois;
    font-size: 10px;
    font-weight: 500;
    align-self: center;
    margin: 0%;
    padding: 0%;
    color: #be1622;
}
.cv{
    color: #000000;
}
.en-tete{
    text-align: center;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
}
.top h1{
    font-size: 48px;
    font-weight: 700;
}
.top p{
    font-size: 24px;
    font-weight: 400;
}

.top{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tete-bouton{
    height: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.tete-bouton a,
.container h2{
    border: 1px solid;
    border-radius: 4px;
    border-color: white;
    padding: 5px;
    background-color: #bdd790;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    height: auto;
}

.icone {
    display: flex;
    gap: 8px;
}
.icone img{
    width: 16px;
    height: 16px;
}
.columns {
    display: flex;
    gap: 50px;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.cv .container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container ul,
.container ol{
    padding-left: 50px;
}
/* --------------------------------------------
            CARTES
--------------------------------------------- */
.frame{ 
    width: auto;
    height: auto;
    justify-content: space-between;
    gap: 20px;
    padding: 70px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.case{
    width: 300px;
    height: auto;
    border-radius: 8px;
    background-color: #dad8d8;
    box-shadow: 0px 2px 4px #000000;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
body.dark-mode .case{
    background-color:#4d4d4d
}
.case a,
.btn-index{
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(0, 0, 0);
    padding: 7px;
    background-color: #be1622;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    align-self: center;
    height: 40px;
    margin-bottom: 24px;
    align-content: end;
}
.case a:hover{
    background-color: #a94545;
}
.corps{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000000;
    height: auto;
}
.corps .top-text{
    justify-self: center;
    text-align: center;
}
.dim{
    height: 150px;
    width: 300px;
    background-color: #b2a9a9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    align-content: center;
    text-align: center;
}

body.dark-mode .dim{
    background-color:#1f2325;
}
.corps img{
    height: 80px;
    width: auto;
    align-self: center;
}
.top-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
    height: auto;
    color: black;
}
body.dark-mode .top-text{
    color: #f5f7f5;
}
.top-text h2{
    font-family: Jacques Francois;
}
.top-text p{
    font-family: Roboto Mono;
    font-size: 14px;
    height: auto;
    align-content: center;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-overflow: ellipsis;
    margin: 5px;
}
/* --------------------------------------------
            HAUT DE PAGE : presentation dans projet
--------------------------------------------- */
.top-text span,
.presentation span{
    font-weight: bold;
}
.presentation h1{
    font-family: Jacques Francois;
    text-align: center;
}
.presentation p{
    font-family: Roboto Mono;
    text-align: center;
}

.presentation{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    color: #000000;
}
body.dark-mode .presentation{
    color:#f5f7fa;
}

.presentation-index{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    color: #000000;
    padding-bottom: 60px;
}
body.dark-mode .presentation-index{
    color:#f5f7fa;
}

.presentation-index h1{
    font-family: Jacques Francois;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.presentation-index p{
    font-family: Roboto Mono;
    text-align: center;
    font-size: 22px;
}
/* --------------------------------------------
            PARCOURS
--------------------------------------------- */
.columns-articles h1{
    font-family: Jacques François;
}
.columns-articles {
    display: flex;
    gap: 80px;
    padding: 60px 0px;
    align-items: center;
}
.nws-noir{
    display: block;
}
.nws-blanc{
    display: none;
}
body.dark-mode .nws-noir{
    display: none;
}
body.dark-mode .nws-blanc{
    display: block;
}
/* --------------------------------------------
            SWITCH PAGES
--------------------------------------------- */
.switch-page-case{
    height: 50px;
    border-radius: 12px;
    background-color: #DCEDBE;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.switch-page{
    display: flex;
    gap: 12px;
    align-items: center;
}
.switch-page-case-suivant{
    height: 50px;
    border-radius: 12px;
    background-color: #DCEDBE;
    margin-top: 20px;
    justify-items:flex-end;
}
.switch-page-case-precedent{
    height: 50px;
    border-radius: 12px;
    background-color: #DCEDBE;
    margin-top: 20px;
    justify-items:flex-start;
}
.switch-page-case a,
.switch-page-case-suivant a,
.switch-page-case-precedent a{
    font-family: Jacques Francois;
    color: #000000;
    padding: 12px 28px;
    font-weight: 600;
    text-decoration: none;
}
.switch-page-case img,
.switch-image{
    height: 21px;
}
/* --------------------------------------------
            CHARTE GRAPHIQUE
--------------------------------------------- */
.img-charte{
    padding-top: 50px;
    padding-bottom: 50px;
}
.img-charte img{
    width: 980px;
}
details{
    border:2px solid #000000;
}
body.dark-mode details{
    border: 2px solid #ffffff;
}
summary{
    font-family: Jacques Francois;
    font-weight: 700;
    font-size: 28px;
    padding: 20px 0px;
    padding-left: 20px;
}
details p{
    padding: 0px 20px;
    padding-bottom: 20px;
}
/* --------------------------------------------
            QUI SUIS-JE
--------------------------------------------- */
.etre{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Roboto Mono;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 16px;
}
/* --------------------------------------------
            DESSIN
--------------------------------------------- */
.masonry {
    column-count: 3; 
    column-gap: 30px;
    padding:60px 0px ;
}
.item {
    margin-bottom: 20px;
    break-inside: avoid; 
}
.item img {
    width: 300px;
    display: block;
    border-radius: 8px;
}
/* --------------------------------------------
            CLUB ECO SAINT SEVER + construction des pages
--------------------------------------------- */
.frame-ces{
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.container-ces-20{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.column-ces{
    display: flex;
    gap: 40px;
    align-items: center;
}
.column-ces-car{
    display: flex;
    gap: 40px;
    align-items: center;
}
.column-ces-car p{
    width: 350px;
}
.moodboard{
    height:auto ;
    width: 750px;
    align-self: center;
}
.affiche{
    height: 470px;
    width: auto;
    align-self: center;
}
/* --------------------------------------------
            HTML CSS
--------------------------------------------- */
.link{
    width: 20px;
    height: 20px;
}

/* --------------------------------------------
            CONTACT
----------------------------------------------*/
.info{
    background-color: rgb(190, 22, 34);
    width: auto;
    height: auto;
    border-radius: 8px;
    padding:80px 50px ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 60px;
}
/* --------------------------------------------
            INDEX
----------------------------------------------*/
.propos{
    display: flex;
    gap: 50px;
    padding-bottom: 50px;
}
.btn-index{
    align-self: flex-start;
    width: auto;
    margin-top: 24px;
}
.acquis{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.competences{
    border:3px solid #8ba1dd;
    border-radius: 8px;
    box-shadow: 1px 1px 30px #8ba1dd;
    height: auto;
    padding:40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.competences img{
    height: 100px;
}
.langage{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.compt-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    justify-items: center;
}
.compt-img img{
    justify-self: center;
}

/* --------------------------------------------
            choses dont je me sers dans bcp de pages
----------------------------------------------*/
.border{
    border:3px solid #8ba1dd;
    border-radius: 8px;
    box-shadow: 1px 1px 30px #8ba1dd;
    height: auto;
    padding:40px;
    display: flex;
    justify-content: center;
}
.shadow-img{
    box-shadow: 0px 2px 4px #000000;
}
.w{
    width: 470px;
    height: auto;
}
.w-440{
    width: 440px;
    height: auto;
}
.h-200{
    height: 200px;
    width: auto;
}
.h{
    height: 470px;
    width: auto;
}
.zoom {
    transition: transform 0.4s ease-in-out; 
}
.zoom:hover {
    transform: scale(1.1); 
}
hr{
    height: 3px;
    background-color: #000000;
}
.espace{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.space{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Jacques Francois;
}


/* --------------------------------------------
            REPSONSIVE
----------------------------------------------*/
@media (max-width: 788px) {
    .frame{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    main{
        padding-left: 30px;
        padding-right: 30px;
    }
    .columns-articles{
        flex-direction: column;
        gap: 20px;
    }
    .img-charte{
        text-align: center;
    }
    .img-charte img{
        width: 350px;
    }
    .zoom:hover{
        transform: scale(1.0); 
    }
    .item img{
        width: 100%;
    }
    .column-ces{
        flex-direction: column;
        gap: 20px;
    }
    .w{
        width: 350px;
    }
    .moodboard{
        width: 350px;
    }
    .columns{
        flex-direction: column;
        gap: 40px;
    }
    .qrcode{
        gap: 10px;
    }
    .qrcode img{
        width: 150px;
    }
    .column-ces-car{
        flex-direction: column;
        gap: 10px;
    }
    .column-ces-car p{
        width: auto;
    }
    .btn-index{
        align-self: flex-end;
        width: auto;
    }
    .competences{
        flex-direction: column;
    }
    .competences img{
        height: 60px;
    }
    .w-150{
        width: 300px;
        height: auto;
    }
    .info{
        grid-template-columns: repeat(1,1fr);
    }
    .tete-bouton{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .tete-bouton a{
        text-align: center;
        align-self: center;
    }
    summary{
        font-family: Jacques Francois;
        font-weight: 700;
        font-size: 20px;
        padding: 20px 0px;
        padding-left: 10px;
    }
    details p{
        padding: 0px 10px;
        padding-bottom: 20px;
    }
}