@import "tailwindcss";

@theme {
    /* Fonts */
    --font-heading: 'Jacques Francois', serif;
    --font-base: 'Roboto Mono Variable', monospace;
  
    /* Colors */
    --color-primary: #be1622;
    --color-primary-accent: #780000;
    --color-primary-foreground: var(--color-neutral-50);

    --color-secondary: #8BA8DD;
    --color-secondary-accent: #003049;
    --color-secondary-foreground: var(--color-neutral-50);
  
    --color-background: var(--color-neutral-50);
    --color-background-button: #fdf0d5;
    --color-background-dark: #080B0F;
  
    --color-foreground: #080B0F;
    --color-foreground-light: #DAD8D8;
  }

  @layer base {
    article h1 {
      @apply text-4xl font-bold font-heading text-foreground;
    }
    article h2 {
      @apply text-2xl font-bold font-heading text-foreground;
    }
    article p{
      @apply font-base;
    }
  }