@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Fonts */
    --font-heading: 'Jacques Francois', serif;
    --font-base: 'Roboto Mono Variable', monospace;
  
    /* Colors */
    --color-primary: #be1622;
    --color-primary-accent: #780000;
    --color-primary-foreground: var(--color-neutral-50);

    --color-secondary: #5b722a;
    --color-secondary-accent: #0C5920;
    --color-secondary-foreground: var(--color-neutral-50);
  
    --color-background: var(--color-neutral-50);
    --color-background-button: #fdf0d5;
    --color-background-dark: #080B0F;
  
    --color-foreground: #080B0F;
    --color-foreground-light: #DAD8D8;
  }

  @layer base {

    article h1 {
      @apply text-xl uppercase dark:text-foreground-light text-center mx-auto ;
    }
    article h2 {
      @apply text-3xl underline dark:text-foreground-light text-start;
    }
    article h3 {
      @apply text-xl dark:text-foreground-light ;
    }
    article p {
      @apply  text-foreground dark:text-foreground-light;
    }
    article ul{
      @apply list-disc ps-4 text-foreground dark:text-background;
    }
    article em{
      @apply font-heading text-lg dark:text-foreground-light;
    }
    article strong{
      @apply dark:text-foreground-light;
    }
    article img{
      @apply lg:w-auto rounded-lg max-lg:size-auto;
    }
    h1, h2, h3 {
      @apply dark:text-foreground-light font-heading font-bold mb-5;
    }
    h1{
      @apply text-4xl text-center mt-10;
    }
    h2{
      @apply text-3xl text-center mt-10;
    }
    h3{
      @apply text-xl mt-5;
    }
    p{
      @apply font-base
    }
    img{
      @apply rounded-lg;
    }
  }