@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Fonts */
    --font-heading: 'Jacques Francois', serif;
    --font-base: 'Roboto Mono Variable', monospace;
  
    /* Colors */
    --color-primary: #be1622;
    --color-primary-accent: #780000;
    --color-primary-foreground: var(--color-neutral-50);

    --color-secondary: #728c3b;
    --color-secondary-accent: #57733c;
    --color-secondary-foreground: #080B0F;
  
    --color-background: var(--color-neutral-50);
    --color-background-button: #fdf0d5;
    --color-background-dark: #080B0F;
  
    --color-foreground: #080B0F;
    --color-foreground-light: #DAD8D8;
  }

  @layer base {

    article h1 {
      @apply text-xl uppercase text-center mx-auto ;
    }
    article h2 {
      @apply text-3xl underline text-start;
    }
    article h3 {
      @apply text-xl ;
    }
    article p {
      @apply  text-foreground dark:text-background;
    }
    article ul{
      @apply list-disc ps-4 text-foreground dark:text-background;
    }
    article em{
      @apply font-heading text-lg dark:text-background;
    }
    article strong{
      @apply dark:text-background;
    }
    article img{
      @apply lg:w-auto rounded-lg max-lg:size-auto;
    }

    h1{
      @apply font-heading text-4xl text-center font-bold mt-10 mb-5;
    }
    h2{
      @apply font-heading text-3xl text-center font-bold mt-10 mb-5;
    }
    h3{
      @apply font-heading text-xl font-bold mt-5 mb-5;
    }
    p{
      @apply font-base
    }
    img{
      @apply rounded-lg;
    }
  }